                                  /* Header
------------------------------------------------------------*/
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1560px;
  margin-left: auto;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  &__logo {
    display: flex;
    align-items: center;
    z-index: 99;
    &--content {
      font-size: 1.8rem;
      font-weight: 600;
      margin-left: 1.15rem;
      line-height: 8rem;
      @media (max-width: 1200px){
        line-height: 3rem;
        span {
          display: block !important;
        }
      }
    }
    span {
      display: none;
    }
  }
  &__navsp {
    position: absolute;
    width: 0;
    height: 0;
    top: 90%;
    left: -100%;
    transition: ease-in-out 0.8s;
    z-index: 99;
    background: #fff;
    &.active {
      left: 0;
      transition: ease-in-out 0.8s;
      width: 100%;
      height: 3000px;
    }
  }
  .is-btn__togglemenu {
    display: none;
    p {
      font-size: 1.8rem;
    }
  }
  .c-nav {
    display: flex;
    align-items: center;
    z-index: 9;
    &__normal,
    &__background {
      > ul {
        display: flex;
        > li {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 3.2rem;
          position: relative;
        }
      }
    }
    &__normal {
      > ul {
        > li {
          margin: 0 2rem;
          letter-spacing: 0.1rem;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            display: none;
          }
          &:nth-child(1),
          &:nth-child(6),
          &:nth-child(7) {
            display: none;
          }
          &:nth-child(3) {
            &:hover {
              .c-nav__child {
                display: block;
              }
            }
          }
        }
      }
      .is-btn__close {
        display: none;
      }
    }
    &__background {
      color: #fff;
      .is-btn__close {
        display: none;
      }
      &--blue {
        background: #48b7d0;
        width: 139px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          display: none;
        }
      }
      &--green {
        background: #40a62a;
        width: 139px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          display: none;
        }
        .c-nav__child {
          left: -7.3rem;
        }
        &:hover {
          .c-nav__child {
            display: block;
          }
        }
      }
    }
    &__child {
      display: none;
      position: absolute;
      top: 100%;
      left: -10.3rem;
      width: 28rem;
      background: rgba(#222b33, 0.7);
      padding: 0 1.25rem;
      li {
        padding: 1.15rem 0;
        border-bottom: 1px solid #fff;
        position: relative;
        a {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 3.2rem;
          color: #fff;
        }
        &::after {
          content: "\f054";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          font-size: 1rem;
          color: #fff;
        }
        &:last-child {
          border: none;
          padding-bottom: 2rem;
          &::after {
            top: 45%;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 20px 40px;
    align-items: initial;
    border-bottom: 1px dashed #333;
    &__logo {
      span {
        display: block;
      }
      &--content {
        line-height: 22px;
        margin-left: 20px;
      }
    }
    .is-btn__togglemenu {
      display: block;
      p {
        line-height: 0;
        margin-top: 35px;
        letter-spacing: 0.1px;
      }
    }
    &__navsp {
      padding: 55px 0 0 0;
      &--contact {
        text-align: center;
        .l-footer2__name {
          font-size: 3rem;
          line-height: 38.8px;
        }
        .l-footer2__content {
          padding: 0 28px;
        }
        .l-footer2__phone {
          a {
            &:first-child {
              font-size: 3rem;
              letter-spacing: 4px;
              line-height: 50px;
              span {
                font-size: 3.6rem;
              }
            }
            &:last-child {
              font-size: 2.4rem;
              line-height: 35px;
              letter-spacing: 4px;
            }
          }
        }
      }
      .c-nav {
        flex-direction: column;
        align-items: initial;
        &__normal {
          margin-top: 40px;
          .is-btn__close {
            display: block;
          }
          ul {
            flex-direction: column;
            li,
            .is-btn__close{
              padding: 30px 40px;
              font-size: 3rem;
              border-bottom: 1px dashed #333;
              justify-content: normal;
              align-items: normal;
              margin: 0;
              height: auto;
              flex-direction: column;
              a {
                display: block;
                font-size: 3rem;
                line-height: 37px;
                letter-spacing: 2.5px;
              }
              i {
                color: #48b7d0;
                display: initial;
              }
              &:first-child {
                border-top: 1px dashed #333;
              }
              &:last-child{
                border: none;
              }
              &:nth-child(1),
              &:nth-child(5),
              &:nth-child(6) {
                display: flex;
              }
              &.active {
                .c-nav__child {
                  left: 0;
                  width: 100%;
                }
              }
            }
          }
          .c-nav__child{
            display: block;
            left: -100%;
            transition: ease-in-out 0.8s;
            top: -203%;
            &.active {
              position: absolute;
              left: 0;
              width: 100%;
              height: 3000px;
              background: #fff;
              z-index: 999;
              padding: 0;
              transition: ease-in-out 0.8s;
               li {
                a{
                  color: #333;
                }
                &::after {
                  display: none;
                }
              }
              .is-btn__close {
                background: #333;
                border: 1px solid #333;
                text-align: center;
                p {
                  color: #fff;
                  i {
                      color: #fff;
                      display: initial;
                      margin-right: 20px;
                  }
                }
              }
            }
          }
        }
        &__background {
          .is-btn__close {
            display: block;
          }
          &--green,
          &--blue {
            i {
              display: inline;
            }
          }
          ul {
            flex-direction: column;
            li {
              width: 100%;
              display: block;
              font-size: 3rem;
              line-height: 36px;
              letter-spacing: 3px;
              padding: 38px 40px;
              height: auto;
              flex-direction: column;
            }
          }
          .c-nav__child{
            display: block;
            left: -100%;
            transition: ease-in-out 0.8s;
            top: -203%;
            &.active {
              position: absolute;
              left: 0;
              width: 100%;
              height: 3000px;
              background: #fff;
              z-index: 999;
              padding: 0;
              transition: ease-in-out 0.8s;
               li {
                a{
                  color: #333;
                  font-size: 3rem;
                }
                &::after {
                  display: none;
                }
              }
              .is-btn__close {
                background: #333;
                border: 1px solid #333;
                text-align: center;
                p {
                  color: #fff;
                  i {
                      color: #fff;
                      display: initial;
                      margin-right: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .l-footer2__name{
      &:last-child {
        letter-spacing: 1px!important;
        line-height: 38.8px;
      }
    }
  }
}



//SPsize
.c-header {
  @media (max-width: 749px) and (min-width: 320px){
    padding: 10px 15px;
    &__logo {
      flex-direction: column;
      &--image {
        width: 50%;
        height: 50%;
      }
      &--content {
        margin-left: 0;
        text-align: center;
      }
    }
    &__navsp {
      top: calc(100% + 1px);
      padding: 30px 0 0 0;
    }
	}
}