/* layout
------------------------------------------------------------*/
body{
	font-family: $mainFonts;
	font-size: 1.4rem;
	min-width: $baseWidth;
	font-weight: 300;
	line-height: 1.5;
	color: #333;
	@include breakpoint(sp) {
		min-width: 320px;
	}
}
//-------------------------------------------------------
main{
	position: relative;
	// padding: 0px 0 100px;
}

section{
	// padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container{
	max-width: 1200px;
	margin: 0 auto;
}
.l-container2{
	max-width: 630px;
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width: 1025px){
		max-width: 600px;
		padding: 0;
	}
}
.l-row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
//-------------------------------------------------------
.c-mainvisual{
	margin-top: -63px;
	padding: 0;
	height: 700px;
	background: url(../img/bg-header.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	&__inner{
		position: relative;
		top: 50%;
		transform: translate(0%, -50%);
		padding-top: 63px;
		text-align: center;
	}
	h2{
		width: 100%;
		flex-basis: 100%;
		font-size: 8rem;
		font-weight: 400;
	}
	p{
		width: 100%;
		font-size: 2rem;
	}
	.c-btn1{
		margin-top: 50px;
	}
	//==================
	&--subpage{
		height: 300px;
		h2{
			font-size: 5rem;
		}
	}
}
img{
	vertical-align: middle;
	border-style: none;
}
