<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="p-top">
        <!-- Slider main container -->
        <section class="c-banner">
            <div class="c-banner__wrapper">
                <div class="c-banner__slide">
                    <div class="c-banner__slide--image">
                        <div class="u-img">
                            <img src="./assets/img/bg-1.png" alt="" />
                            <img src="./assets/img/bm-1.png" alt="" />
                        </div>
                        <div class="c-banner__wrapper--content">
                            <div class="c-content__element">
                                <div class="c-content__element--left">
                                    <div class="c-content__button">
                                        <div class="c-content__button--prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                        <div class="c-content__button--next">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
                              <div class="c-content__element--right">
                                <div class="c-content__date">
                                    <p>2018年11月22日</p>
                                </div>
                                <div class="c-content__description">
                                    <p>
                                        先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="c-content__link">
                                <a href="#"> お知らせ一覧 > </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-banner__slide--image">
                        <div class="u-img">
                            <img src="./assets/img/bg-2.png" alt="" />
                            <img src="./assets/img/bm-2.png" alt="" />
                        </div>
                        <div class="c-banner__wrapper--content">
                            <div class="c-content__element">
                                <div class="c-content__element--left">
                                    <div class="c-content__button">
                                        <div class="c-content__button--prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                        <div class="c-content__button--next">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
                              <div class="c-content__element--right">
                                <div class="c-content__date">
                                    <p>2018年11月22日</p>
                                </div>
                                <div class="c-content__description">
                                    <p>
                                        先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="c-content__link">
                                <a href="#"> お知らせ一覧 > </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-banner__slide--image">
                        <div class="u-img">
                            <img src="./assets/img/bg-3.png" alt="" />
                            <img src="./assets/img/bm-3.png" alt="" />
                        </div>
                        <div class="c-banner__wrapper--content">
                            <div class="c-content__element">
                                <div class="c-content__element--left">
                                    <div class="c-content__button">
                                        <div class="c-content__button--prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                        <div class="c-content__button--next">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
                              <div class="c-content__element--right">
                                <div class="c-content__date">
                                    <p>2018年11月22日</p>
                                </div>
                                <div class="c-content__description">
                                    <p>
                                        先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="c-content__link">
                                <a href="#"> お知らせ一覧 > </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-banner__slide--image">
                        <div class="u-img">
                            <img src="./assets/img/bg-4.png" alt="" />
                            <img src="./assets/img/bm-4.png" alt="" />
                        </div>
                        <div class="c-banner__wrapper--content">
                            <div class="c-content__element">
                                <div class="c-content__element--left">
                                    <div class="c-content__button">
                                        <div class="c-content__button--prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                        <div class="c-content__button--next">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
                              <div class="c-content__element--right">
                                <div class="c-content__date">
                                    <p>2018年11月22日</p>
                                </div>
                                <div class="c-content__description">
                                    <p>
                                        先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="c-content__link">
                                <a href="#"> お知らせ一覧 > </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-banner__wrapper--mouseScroll">
                    <div class="is-mouse">
                        <div class="is-scroll"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="l-index1">
            <div class="l-container">
                <div class="l-index1__info">
                    <div class="l-index1__info--icon">
                        <div class="u-logochild">
                            <img src="./assets/img/logo-child.png" alt="">
                            <img src="./assets/img/logo-child1.png" alt="">
                        </div>
                        <h3 class="u-content">
                            事業紹介
                        </h3>
                    </div>
                    <div class="l-index1__info--description">
                        <p>アイエステーは、たゆまない技術向上により、地域防災事業に携わるとともに
                        </p>
                        <p>地域の安全・安心を確保できるインフラ整備に貢献します。</p>
                    </div>
                </div>
                <div class="l-index1__listImage">
                    <div class="l-row">
                        <div class="l-index1__item">
                            <div class="l-index1__item--image">
                                <img src="./assets/img/id1.png" alt="">
                            </div>
                            <div class="l-index1__item--name">
                                <img src="./assets/img/ic1.png" alt="">
                                <img src="./assets/img/ics1.png" alt="">
                                <p>防災・減災業務</p>
                            </div>
                        </div>
                        <div class="l-index1__item">
                            <div class="l-index1__item--image">
                                <img src="./assets/img/id2.png" alt="">
                            </div>
                            <div class="l-index1__item--name">
                                <img src="./assets/img/ic2.png" alt="">
                                <img src="./assets/img/ics2.png" alt="">
                                <p>ICT・BIM/CIM</p>
                            </div>
                        </div>
                        <div class="l-index1__item">
                            <div class="l-index1__item--image">
                                <img src="./assets/img/id3.png" alt="">
                            </div>
                            <div class="l-index1__item--name">
                                <img src="./assets/img/ic3.png" alt="">
                                <img src="./assets/img/ics3.png" alt="">
                                <p>測量・設計業務</p>
                            </div>
                        </div>
                        <div class="l-index1__item">
                            <div class="l-index1__item--image">
                                <img src="./assets/img/id4.png" alt="">
                            </div>
                            <div class="l-index1__item--name">
                                <img src="./assets/img/ic4.png" alt="">
                                <img src="./assets/img/ics4.png" alt="">
                                <p>調査業務</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="l-index2">
            <div class="l-index2__setbg">
                <div class="l-container">
                    <div class="l-row">
                        <div class="l-index2__flycam">
                            <div class="l-index2__drom"></div>
                        </div>
                        <div class="l-index2__content">
                            <div class="l-index2__title">
                                <h3>レーザースキャナ搭載のドローン<span class="l-index2__highligh">*</span><br>で安全かつ効率的に測量が可能。
                                </h3>
                            </div>
                            <div class="l-index2__description">
                                <p>アイエステーでは、ドローン搭載型の測量用レーザースキャナ搭載のドローンを導入</p>
                                <p>ました。これにより、従t来の写真測量で必須だった対空標識を置くことなく、安全か</p>
                                <p>つ効率的に測量することが可能となりました。またレーザーは植生下にも届くため、</p>
                                <p>写真測量では不可能だった植生下のグランドデータを取得できます。災害時の地形</p>
                                <p>測量や施工管理における活躍が期待できます。</p>
                            </div>
                            <div class="l-index2__note">
                                <p><span class="l-index2__highligh">＊</span>アミューズワンセルフ社製：ドローン搭載用レーザースキャナシステム「TDOT（ティードット）」
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="l-index3">
            <div class="l-index3__top">
                <div class="l-container">
                    <h3 class="l-index3__title">
                        詳細情報 >
                    </h3>
                </div>
            </div>
            <div class="l-index3__bg">
                <div class="l-container">
                    <div class="l-index1__info">
                        <div class="l-index1__info--icon">
                            <div class="u-logochild">
                                <img src="./assets/img/logo-child.png" alt="">
                                <img src="./assets/img/logo-child1.png" alt="">
                            </div>
                            <h3 class="u-content">
                                実績紹介
                            </h3>
                        </div>
                        <div class="l-index1__info--description">
                            <p>『地域の人たちが安全に安心して暮らせるように、    
                            </p>
                            <p>そして豊かに快適に暮らせるように、そんな想いを込めて仕事をしています。</p>
                        </div>
                    </div>
                    <div class="l-index3__listitem">
                        <div class="c-listitem__slide">
                            <div class="l-index3__item">
                                <figure>
                                    <div class="u__image">
                                        <img src="./assets/img/ia1.png" alt="">
                                        <div class="l-index3__name--c1">
                                            <p>ICT・BIM/CIM</p>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3 class="u__title">
                                            No title
                                        </h3>
                                        <div class="u__btnNext">
                                           <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                           </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="l-index3__item">
                                <figure>
                                    <div class="u__image">
                                        <img src="./assets/img/ia2.png" alt="">
                                        <div class="l-index3__name--c2">
                                            <p>防災・減災業務</p>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3 class="u__title">
                                            十籠地すべり対策事業
                                        </h3>
                                        <div class="u__btnNext">
                                           <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                           </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="l-index3__item">
                                <figure>
                                    <div class="u__image">
                                        <img src="./assets/img/ia3.png" alt="">
                                        <div class="l-index3__name--c2">
                                            <p>防災・減災業務</p>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3 class="u__title">
                                            水个浦地区災害関連緊急地すべり対策事業
                                        </h3>
                                        <div class="u__btnNext">
                                           <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                           </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="l-index3__item">
                                <figure>
                                    <div class="u__image">
                                        <img src="./assets/img/ia4.png" alt="">
                                        <div class="l-index3__name--c2">
                                            <p>防災・減災業務</p>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3 class="u__title">
                                            大切畑地区災害関連緊急地すべり対策事業
                                        </h3>
                                        <div class="u__btnNext">
                                           <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                           </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-index3__bottom">
                <div class="l-container">
                    <h3 class="l-index3__title">
                        実績紹介一覧  >
                    </h3>
                </div>
            </div>
        </section>
        <section class="l-index4">
            <div class="l-row">
                <div class="l-index4__item">
                    <div class="l-index4__item--bg">
                        <img src="./assets/img/i4-1.png" alt="">
                        <img src="./assets/img/is4-1.png" alt="">
                    </div>
                    <div class="l-index4__content">
                        <h3 class="l-index4__title">会社案内</h3>
                        <div class="l-index4__description">
                            <p>これまでの防災技術と新分野のICTなどを拡充し、</p>
                            <p>地元地域に密着した総合建設コンサルタントを目指します。</p>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="l-index4__item">
                    <div class="l-index4__item--bg">
                        <img src="./assets/img/i4-2.png" alt="">
                        <img src="./assets/img/is4-2.png" alt="">
                    </div>
                    <div class="l-index4__content">
                        <h3 class="l-index4__title">採用情報</h3>
                        <div class="l-index4__description">
                            <p>私たちと共に専門知識や技術を高めながら</p>
                            <p>地域の未来を守る人材を募集しています。 </p>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="is-scrollToTop">
            <img src="./assets/img/sc.png" alt="" />
        </div>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>