<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-info">
	<section class="c-banner__page">
        <div class="u-img__banner">
            <img src="./assets/img/info-bn.png" alt="banner-child">
        </div>
        <h3 class="c-banner__name">お知らせ</h3>
    </section>
    <section class="l-footer1">
        <div class="l-index1__info">
            <div class="l-index1__info--icon">
                <div class="u-logochild">
                    <img src="./assets/img/logo-child.png" alt="logo-child-ft">
                    <img src="./assets/img/logo-child1.png" alt="logo-child-ftsp">
                </div>
                <h3 class="u-content">
                    お知らせ
                </h3>
            </div>
        </div>
        <div class="l-footer1__faq">
           <ul class="u-navFaq">
               <li class="active">
                   <p class="l-footer1__date">2018年11月22日</p>
                   <div class="l-footer1__title">
                       <p>先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。</p>
                   </div>
               </li>
               <li>
                    <p class="l-footer1__date">2018年11月20日</p>
                    <div class="l-footer1__title">
                        <p>ホームページをリニューアルしました</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年07月04日</p>
                    <div class="l-footer1__title">
                        <p>綿田地区の復興を願って寄付をしました。</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年10月12日</p>
                    <div class="l-footer1__title">
                        <p>福岡支店が移転しました。</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年09月01日</p>
                    <div class="l-footer1__title">
                        <p>ドローンレーザスキャナを導入しました</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年09月01日</p>
                    <div class="l-footer1__title">
                        <p>ドローンレーザスキャナを導入しました</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年09月01日</p>
                    <div class="l-footer1__title">
                        <p>ドローンレーザスキャナを導入しました</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年09月01日</p>
                    <div class="l-footer1__title">
                        <p>ドローンレーザスキャナを導入しました</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年09月01日</p>
                    <div class="l-footer1__title">
                        <p>ドローンレーザスキャナを導入しました</p>
                    </div>
                </li>
                <li>
                    <p class="l-footer1__date">2018年09月01日</p>
                    <div class="l-footer1__title">
                        <p>ドローンレーザスキャナを導入しました</p>
                    </div>
                </li>
           </ul>
        </div>
        <ul class="l-pagination">
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">...</a>
            </li>
            <li>
                <a href="#">10</a>
            </li>
        </ul>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>