<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-info__single">
	<section class="c-banner__page">
        <div class="u-img__banner">
            <img src="./assets/img/info-bn.png" alt="banner-child">
        </div>
        <h3 class="c-banner__name">お知らせ</h3>
    </section>
    <section class="l-footer1">
      <div class="l-container2">
        <div class="l-index1__info">
            <div class="l-index1__info--icon">
                <div class="u-logochild">
                    <img src="./assets/img/logo-child.png" alt="logo-child-ft">
                    <img src="./assets/img/logo-child1.png" alt="logo-child-ftsp">
                </div>
                <h3 class="u-content">
                    先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。
                </h3>
            </div>
        </div>
        <div class="c-info__date">
            <p class="u-date">
                投稿日 : 2018年11月22日
            </p>
            <p class="u-date">
                最終更新日時 : 2018年12月24日
            </p>
        </div>
      </div>
    </section>
    <section class="c-infosingle">
      <div class="l-container2">
        <div class="c-infosingle__description">
            <p class="c-infosingle__description--date">2018年11月21日から22日にかけて<br>「先進建設・防災・減災技術フェアin熊本」に出展しました。</p>
            <p class="c-infosingle__description--text lt-0">弊社からは、下記３点を総合した「レーザスキャナ測量サービス」について展示を行いました。</p>
            <ul class="c-infosingle__description--detail">
                <li>UAV（ドローン）搭載レーザスキャナ測量サービス</li>
                <li>地上レーザスキャナ測量サービス</li>
                <li>MMS（モバイルマッピングシステム）を使った計測サービス</li>
            </ul>
            <p class="c-infosingle__description--text">弊社ブースにお越しいただいた方々についてはありがとうございました。</p>
        </div>
        <div class="c-infosingle__listimage">
            <div class="c-infosingle__item">
                <div class="c-infosingle__image">
                    <img src="./assets/img/ifs1.png" alt="">
                </div>
                <p class="c-infosingle__description--text">展示ブースの様子</p>
            </div>
            <div class="c-infosingle__item">
                <div class="c-infosingle__image">
                    <img src="./assets/img/ifs2.png" alt="">
                </div>
                <p class="c-infosingle__description--text">たくさんの方々にお越しいただきました</p>
            </div>
            <div class="c-infosingle__item">
                <div class="c-infosingle__image">
                    <img src="./assets/img/ifs3.png" alt="">
                </div>
                <p class="c-infosingle__description--text">訪れた方に弊社技術をご紹介させていただきました</p>
            </div>
        </div>
        <div class="c-infosingle__wrapper">
            <div class="is-boxchat">
                <p>前の記事</p>
            </div>
            <div class="c-infosingle__slide">
                <a href="#" class="c-infosingle__slide--item">
                    <p class="c-infosingle__description--text">ホームページをリニューアルしました</p>
                    <p class="c-infosingle__description--text">今が最新です！</p>
                </a>
                <a href="#" class="c-infosingle__slide--item">
                    <p class="c-infosingle__description--text">ホームページをリニューアルしました</p>
                    <p class="c-infosingle__description--text">今が最新です！</p>
                </a>
                <a href="#" class="c-infosingle__slide--item">
                    <p class="c-infosingle__description--text">ホームページをリニューアルしました</p>
                    <p class="c-infosingle__description--text">今が最新です！</p>
                </a>
            </div>
        </div>
      </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>