<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

	
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="c-header__logo">
			<div class="c-header__logo--image">
				<img src="./assets/img/logo.png" alt="">
			</div>
			<p class="c-header__logo--content">総合建設<span></span>コンサルタント</p>
		</div>
		<div class="c-nav">
			<div class="c-nav__normal">
				<ul>
					<li>
						<a href="#"> <i class="fas fa-chevron-right"></i> お知らせ</a>
					</li>
					<li>
						<a href="#"> <i class="fas fa-chevron-right"></i> 会社案内</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-plus"></i> 事業紹介</a>
						<ul class="c-nav__child">
							<li>
								<a href="#"><i class="fas fa-chevron-right"></i> 防災・減災業務</a>
							</li>
							<li>
								<a href="#"> <i class="fas fa-chevron-right"></i> ICT・BIM/CIM</a>
							</li>
							<li>
								<a href="#"> <i class="fas fa-chevron-right"></i> 測量・設計業務</a>
							</li>
							<li>
								<a href="#"> <i class="fas fa-chevron-right"></i> 調査業務</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fas fa-chevron-right"></i> 実績紹介</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-chevron-right"></i> 技術資料</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-chevron-right"></i> 交通アクセス</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-chevron-right"></i> プライバシーポリシー</a>
					</li>
				</ul>
			</div>
			<div class="c-nav__background">
				<ul>
					<li class="c-nav__background--green">
						<a href="#"><i class="fas fa-plus"></i> 採用情報</a>
						<ul class="c-nav__child">
							<div class="is-btn__close">
								<p><i class="fas fa-chevron-right"></i>戻る</p>
							</div>
							<li>
								<a href="#"><i class="fas fa-chevron-right"></i> 私たちの仕事</a>
							</li>
							<li>
								<a href="#"><i class="fas fa-chevron-right"></i> 先輩社員の声</a>
							</li>
							<li>
								<a href="#"><i class="fas fa-chevron-right"></i> 募集要項</a>
							</li>
						</ul>
					</li>
					<li class="c-nav__background--blue">
						<a href="#"><i class="fas fa-chevron-right"></i> お問い合わせ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="c-header__navsp">
			<div class="c-header__navsp--contact">
				<div class="l-footer2__content">
					<p class="l-footer2__name">〒860-0833　熊本市中央区平成3丁目16番13号</p>
				</div>
				<div class="l-footer2__phone">
					<a href="tel:0962855177">tel<span>.096-285-5177</span></a>
					<a href="#">fax.096-285-5188</a>
				</div>
			</div>
		</div>
		<div class="is-btn__togglemenu">
			<div class="is-menu__button">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<p>メニュー</p>
			<p class="is-show">閉じる</p>
		</div>
	</header>
	<!--▲ Header ▲-->